<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/drsb1n3km/image/upload/v1557548508/uluru-2058380_1920.jpg);">
  <div class="container">
    <h1>AUSTRALIA!</h1>
    <p>さぁ、冒険に出かけよう！</p>
  </div>
</div>

<div class="middle-navbar navbar-expand-sm navbar-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav middle-navbar-link">
      <%= link_to "#", class: 'links' do %>
        <i class="middlenav-icons fas fa-hotel nav-link" id='nav-hotel'></i>
        <p class='nav-link links-p'>泊まる</p>
      <% end %>
      <%= link_to "#", class: 'links' do %>
        <i class="middlenav-icons fas fa-ship nav-link" id='nav-ship'></i>
        <p class='nav-link links'>体験する</p>
      <% end %>
      <%= link_to "#", class: 'links' do %>
        <i class="middlenav-icons fas fa-utensils nav-link" id='nav-utensils'></i>
        <p class='nav-link links-p'>食べる</p>
      <% end %>
      <%= link_to "#", class: 'links' do %>
        <i class="middlenav-icons fas fa-shopping-bag nav-link" id='nav-bag'></i>
        <p class='nav-link links-p'>買う</p>
      <% end %>
      <%= link_to "#", class: 'links' do %>
        <i class="middlenav-icons fas fa-mountain nav-link" id='nav-mountain'></i>
        <p class='nav-link links-p'>自然・名所</p>
      <% end %>
      <%= link_to "#", class: 'links' do %>
        <i class="middlenav-icons fas fa-subway nav-link" id='nav-subway'></i>
        <p class='nav-link links-p'>交通</p>
      <% end %>
    </ul>
  </div>
</div>

<h1>Hola</h1>
